body {
    font-family: "Kumar One", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.menu {
    list-style: none;
    padding: 0;
    width: 138px;
}

.menu li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 16px;
}

.menu li:hover {
    background: #ddd;
}

.menu li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    width: 100px;
}

.menu li i {
    font-size: 20px;
    margin-right: 5px;
}